body{
    height: 1000px;
    width: 1000px;
}

.square{
    height: 100px;
    width: 100px;
}

@media (min-width: 320px) and (max-width:600px){
.square{
    height: 100%;
    width: 100%;
    background-color: orange;
    border: 5px solid black;
}
}

@media (min-width: 601px) and (max-width:1024px){
    .square{
        height: 66%;
        width: 66%;
        background-color: red;
        border: 5px solid yellow;
    }
    }

    @media (min-width: 1025px){
        .square{
            height: 33%;
            width: 33%;
            background-color: blue;
            border: 5px solid green;
        }
        }